th,td{
    text-align: center;
    font-weight:600;
    border: 1px solid white;
}


table td {
    position: relative;
  }
  
  table td .td{
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 75%;
    width: 75%;
    border: noe;
    margin: 1em;
    padding: 5px;
    box-sizing: border-box;
  }

.ls-tr{
   /* border:2px solid black;*/
    padding:2em;
    
}
.ls-tb{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    position:initial;
}
.r4-sub{
    text-align: center;
    margin: 1em;
    padding:1em; 
}
.ls-td{
    padding: 1em;
   /* border:2px solid black;*/
}
